{% extends 'porto.html.twig' %}

{% block title %}Introduction to {{ category|replace({'torah':'Torah'}) }}{% endblock %}

{% block meta_description %}
<meta name="description" content="In this comprehensive guide, we'll journey through each of the biblical books in chronological order. We've prepared a table that showcases the traditional authorship, dates of composition, and key verses for every book. And for those desiring a deeper dive, a concise summary of each book will further enrich your understanding. Here, we're discussing {{ category|replace({'torah':'Torah'}) }}" />
{% endblock %}

{% block keywords %}
<meta name="keywords" content="Bible, Introduction to Bible, {{ category|replace({'torah':'Torah'}) }}, {% for result in results %}{{ result.book }}, {% endfor %}" />
{% endblock %}

{% block content %}
<div class="row py-5">
    <div class="col-lg-10 text-center offset-lg-1">
        <h2 class="font-weight-bold text-9 mb-0">Introduction to {{ category|replace({'torah':'Torah'}) }}</h2>
        {# <p class="sub-title text-primary text-4 font-weight-semibold positive-ls-2 mt-2 mb-4">BIBLE <span class="highlighted-word highlighted-word-animation-1 highlighted-word-animation-1-2 highlighted-word-animation-1 highlighted-word-animation-1-no-rotate alternative-font-4 font-weight-semibold line-height-2 pb-2">STUDY</span></p>
        <p class="text-1rem text-color-default negative-ls-05 pt-3 container">Test your knowledge of the {{ type }} in the quiz below. The quiz consists of {{ total_records }} questions, and there is no time limit. Feel free to refer to the Bible if needed, but do not search online for answers. Good luck!</p> #}
    </div>
</div>

<div class="container">
    <div class="card border-0 bg-color-grey">
        <div class="card-body">
                {% if category == 'The Pentateuch (torah)' %}
                    {{ include('intros/pentateuch.html.twig') }}
                {% elseif category == 'The Historical Books' %}
                    {{ include('intros/historical.html.twig') }}
                {% elseif category == 'The Wisdom And Poetry Books' %}
                    {{ include('intros/poetry.html.twig') }}
                {% elseif category == 'The Major Prophets' %}
                    {{ include('intros/major.html.twig') }}
                {% elseif category == 'The Minor Prophets' %}
                    {{ include('intros/minor.html.twig') }}
                {% elseif category == 'The Gospels' %}
                    {{ include('intros/gospels.html.twig') }}
                {% elseif category == 'The Book Of Acts' %}
                    {{ include('intros/acts.html.twig') }}
                {% elseif category == 'The Pauline Epistles' %}
                    {{ include('intros/pauline.html.twig') }}
                {% elseif category == 'The General Epistles' %}
                    {{ include('intros/general.html.twig') }}
                {% elseif category == 'Apocalyptic' %}
                    {{ include('intros/apocalyptic.html.twig') }}
                {% endif %}
            
            <dl class="row mb-3">
                {% for result in results %}
                    <dt class="col-sm-3">Book {{ result.id }}: {{ result.book }}</dt>
                    <dd class="col-sm-9">
                        {{ result.text }} 
                        <span class="justify-content-end">
                        <a href="{{ base_url }}bible/kjv/{{ result.book|replace({' ':'-'}) }}/1">(Read {{ result.book }} now)</a>
                        </span>
                    </dd>
                {% endfor %}
            </dl>
        </div>
    </div>
</div>
{% endblock %}