{% extends "errors.html.twig" %}

{% block title %}Error 404 - Page Not Found{% endblock %}

{% block content %}
<section id="about" class="d-flex align-items-center justify-content-center">
    <table style="">
        <caption><h3>DEBUG CONSOLE <i class="fa fa-bug"></i></h3></caption>
        <tr>
            <td style="width: 15%;"><strong>Message:</strong></td>
            <td class="debug1">INVALID CONTROLLER / CONTROLLER DOES NOT EXIST</td>
        </tr>
        <tr>
            <td><strong>Method Called:</strong></td>
            <td class="debug2">{{ parameter }}()</td>
        </tr>
        <tr>
            <td><strong>Controller:</strong></td>
            <td class="debug3 pink">{{ controller_path }}{{ controller }}_Controller</td>
        </tr>
        <tr>
            <td><strong>How to Fix:</strong></td>
            <td class="debug4">Make sure that {{ controller }}_Controller.php exists in your Controllers directory. 
                If the file already exists, ensure that the server has read permissions to the file. 
                Also ensure that the class name matches the file name -- {{ controller }}_Controller, 
                as well as extends the core controller class:<br><br>
<pre>
    <code class="language-php">
&lt?php
namespace App\Controller;
use Src\Controller\Base_Controller;

class {{ controller }}_Controller extends Base_Controller
{

}
</code>
</pre>
                    <br><br>
                    Finally, ensure that the index() method exists within the {{ controller }} class. Each controller falls back 
                    on the index() method as the default action.<br><br>
                    View <a href="{{base_url }}documentation/architecture/controllers" style="color: #ff6666">the Controllers documentation</a> for more information.
            </td>
        </tr>
    </table>
</section>
{% endblock %}