{% extends 'docs.html.twig' %}

{% block title %}Test Page | Rhapsody Framework{% endblock %}

{% block content %}
<section id="searchresults">
    <div class="col-xxl">
      <div class="card mb-4">
        <div class="card-body">
          <form action="" method="post">
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">Name</label>
              <div class="col-sm-10">
                <div class="input-group input-group-merge">
                  <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-user"></i></span>
                  <input type="text" name="fullname" class="form-control" id="basic-icon-default-fullname" placeholder="John Doe" aria-label="John Doe" aria-describedby="basic-icon-default-fullname2" value="{{ session.validation.fullname }}">
                </div>
                <small><div class="redText">
                {% if session.validation.errors.input.field == 'fullname' %}
                    {% for error in session.validation.errors %}
                        {{ error.messages }}
                    {% endfor %}
                {% endif %}
                </div></small>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label" for="basic-icon-default-company">Company</label>
              <div class="col-sm-10">
                <div class="input-group input-group-merge">
                  <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-buildings"></i></span>
                  <input type="text" name="company" id="basic-icon-default-company" class="form-control" placeholder="ACME Inc." aria-label="ACME Inc." aria-describedby="basic-icon-default-company2" value="{{ session.validation.company }}">
                </div>
                <small><div class="redText">
                {% if session.validation.errors.input.field == 'company' %}
                    {% for error in session.validation.errors %}
                        {{ error.messages }}
                    {% endfor %}
                {% endif %}
                </div></small>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label" for="basic-icon-default-email">Email</label>
              <div class="col-sm-10">
                <div class="input-group input-group-merge">
                  <span class="input-group-text"><i class="bx bx-envelope"></i></span>
                  <input type="text" name="email" id="basic-icon-default-email" class="form-control" placeholder="john.doe" aria-label="john.doe" aria-describedby="basic-icon-default-email2" value="{{ session.validation.email }}">
                  <span id="basic-icon-default-email2" class="input-group-text">@example.com</span>
                </div>
                <small><span class="redText">
                {% if session.validation.errors.input.field == 'email' %}
                    {% for error in session.validation.errors %}
                        {{ error.messages }}
                    {% endfor %}
                {% endif %}
                </span></small>
                <span class="form-text">You can use letters, numbers &amp; periods</span>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-2 form-label" for="basic-icon-default-phone">Phone No</label>
              <div class="col-sm-10">
                <div class="input-group input-group-merge">
                  <span id="basic-icon-default-phone2" class="input-group-text"><i class="bx bx-phone"></i></span>
                  <input type="text" name="phone" id="basic-icon-default-phone" class="form-control phone-mask" placeholder="658 799 8941" aria-label="658 799 8941" aria-describedby="basic-icon-default-phone2" value="{{ session.validation.phone }}">
                </div>
              </div>
              <small><div class="redText">
                {% if session.validation.errors.input.field == 'phone' %}
                    {% for error in session.validation.errors %}
                        {{ error.messages }}
                    {% endfor %}
                {% endif %}
                </div></small>
            </div>
            <div class="row mb-3">
              <label class="col-sm-2 form-label" for="basic-icon-default-message">Message</label>
              <div class="col-sm-10">
                <div class="input-group input-group-merge">
                  <span id="basic-icon-default-message2" class="input-group-text"><i class="bx bx-comment"></i></span>
                  <textarea id="basic-icon-default-message" name="message" class="form-control" placeholder="Hi, Do you have a moment to talk Joe?" aria-label="Hi, Do you have a moment to talk Joe?" aria-describedby="basic-icon-default-message2" value="{{ session.validation.message }}"></textarea>
                  <small><div class="redText">
                  {% if session.validation.errors.input.field == 'message' %}
                    {% for error in session.validation.errors %}
                        {{ error.messages }}
                    {% endfor %}
                  </div></small>
                {% endif %}
                </div>
              </div>
            </div>
            <div class="row justify-content-end">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Send</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</section>
{% endblock %}