{% extends "porto.html.twig" %}

{% block title %}Faith Project{% endblock %}

{% block content %}
<section class="section border-0 video overlay overlay-show overlay-op-8 m-0" data-video-path="{{ base_url }}public/media/videos/Blessing-and-Curse" data-plugin-video-background="" data-plugin-options="{'posterType': 'jpg', 'position': '50% 50%'}" style="height: 100vh; z-index: 0;"><div class="vide-video-wrapper" style="position: absolute; z-index: -1; inset: 0px; overflow: hidden; background-size: cover; background-color: transparent; background-repeat: no-repeat; background-position: 50% 50%; background-image: none;"><video autoplay="" loop="true" muted="" playsinline="" style="margin: auto; position: absolute; z-index: -1; top: 50%; left: 50%; transform: translate(-50%, -50%); opacity: 1; width: 100%; height: auto; visibility: visible;"><source src="{{ base_url }}public/media/videos/Blessing-and-Curse.mp4.mp4" type="video/mp4"><source src="{{ base_url }}public/media/videos/Blessing-and-Curse.mp4.webm" type="video/webm"><source src="{{ base_url }}public/media/videos/Blessing-and-Curse.mp4.ogv" type="video/ogg"></video></div>
  <div id="hero" class="container position-relative z-index-3 h-100">
    <div class="row align-items-center h-100">
      <div class="col">
        <div class="d-flex flex-column align-items-center justify-content-center h-100">
          <h1 class="position-relative line-height-5 font-weight-medium px-4 mb-2 appear-animation animated fadeInDownShorterPlus appear-animation-visible" data-appear-animation="fadeInDownShorterPlus" data-plugin-options="{'minWindowWidth': 0}" style="animation-delay: 100ms;">
            <span class="position-absolute right-100pct top-50pct transform3dy-n50 opacity-3">
              <img src="img/slides/slide-title-border-light.png" class="w-auto appear-animation animated fadeInRightShorter appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="250" data-plugin-options="{'minWindowWidth': 0}" alt="" style="animation-delay: 250ms;">
            </span>
            "And you will know the truth, <span class="position-relative">SEE<span class="position-absolute left-50pct transform3dx-n50 top-0 mt-3"><img src="img/slides/slide-blue-line.png" class="w-auto appear-animation animated fadeInLeftShorterPlus appear-animation-visible" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="1000" data-plugin-options="{'minWindowWidth': 0}" alt="" style="animation-delay: 1000ms;"></span></span>
            <span class="position-absolute left-100pct top-50pct transform3dy-n50 opacity-3">
              <img src="img/slides/slide-title-border-light.png" class="w-auto appear-animation animated fadeInLeftShorter appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="250" data-plugin-options="{'minWindowWidth': 0}" alt="" style="animation-delay: 250ms;">
            </span>
          </h1>
          <h1 class="font-weight-extra-bold text-12 line-height-1 mb-2 appear-animation animated blurIn appear-animation-visible" data-appear-animation="blurIn" data-appear-animation-delay="1000" data-plugin-options="{'minWindowWidth': 0}" style="animation-delay: 1000ms;">and the truth will set you free."</h1>
          <p class="text-4 text-color-light font-weight-light opacity-7 mb-0 initialized" data-plugin-animated-letters="" data-plugin-options="{'startDelay': 2000, 'minWindowWidth': 0}" style="min-height: 26px;"><span class="animated-letters-wrapper "><span class="animated-letters-item letter fadeIn animated" style="animation-delay: 0ms;">-</span></span><span class="animated-letters-wrapper "><span class="animated-letters-item letter fadeIn animated" style="animation-delay: 50ms;">-</span></span><span class="animated-letters-wrapper "><span class="animated-letters-item letter fadeIn animated" style="animation-delay: 100ms;">&nbsp;</span></span><span class="animated-letters-wrapper "><span class="animated-letters-item letter fadeIn animated" style="animation-delay: 150ms;">J</span></span><span class="animated-letters-wrapper "><span class="animated-letters-item letter fadeIn animated" style="animation-delay: 200ms;">o</span></span><span class="animated-letters-wrapper "><span class="animated-letters-item letter fadeIn animated" style="animation-delay: 250ms;">h</span></span><span class="animated-letters-wrapper "><span class="animated-letters-item letter fadeIn animated" style="animation-delay: 300ms;">n</span></span><span class="animated-letters-wrapper "><span class="animated-letters-item letter fadeIn animated" style="animation-delay: 350ms;">&nbsp;</span></span><span class="animated-letters-wrapper "><span class="animated-letters-item letter fadeIn animated" style="animation-delay: 400ms;">8</span></span><span class="animated-letters-wrapper "><span class="animated-letters-item letter fadeIn animated" style="animation-delay: 450ms;">:</span></span><span class="animated-letters-wrapper "><span class="animated-letters-item letter fadeIn animated" style="animation-delay: 500ms;">3</span></span><span class="animated-letters-wrapper "><span class="animated-letters-item letter fadeIn animated" style="animation-delay: 600ms;">2</span></span></p>
        </div>
      </div>
    </div>
    <a href="#main" class="slider-scroll-button position-absolute bottom-10 left-50pct transform3dx-n50" data-hash="" data-hash-offset="0" data-hash-offset-lg="80">Scroll To Bottom</a>
  </div>
</section>

<section id="intro" class="section section-no-border mt-4 pb-4 m-0">
  <div class="container">
    
    <h2 class="font-weight-bold text-center text-10 pt-3 mb-4">Follow our animated Videos of The Bible Series</h2>

    <div class="row mt-5">
      <div class="section-title">
        <h3>Most Popular</h3>
      </div>
      {% for pop in popular %}
      <div class="col-md-3 mb-4">
        <h6>{{ pop.title_raw }}</h6>
        <video height="180px" width="100%" controls controlslist="nodownload" poster="{{ base_url }}{{ video_thumbnail_url }}{{ pop.thumbnail }}">
          <source src="{{ base_url }}{{ video_url }}{{ pop.video_url }}" type="video/mp4">
          <source src="{{ base_url }}{{ video_url }}{{ pop.video_url }}" type="video/ogg">
          Your browser does not support HTML5 video.
        </video>
      </div>
    {% endfor %}
    </div>
    <a href="{{ base_url }}videos" class="btn btn-sm btn-primary">View all videos</a>

    <div class="row align-items-center text-center my-5">
      <div class="col-md-6">
        <h2 class="font-weight-bold text-9 mb-0 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750" style="animation-delay: 200ms;">Our mission is to unite the world through Jesus</h2>
        <p class="font-weight-semibold text-primary text-4 fonts-weight-semibold positive-ls-2 mb-3 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600" data-appear-animation-duration="750" style="animation-delay: 600ms;">Free online access to the bible and study tools</p>
        <p class="pb-2 mb-4 appear-animation animated fadeInUpShorter appear-animation-visible lead" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800" data-appear-animation-duration="750" style="animation-delay: 800ms;">
          The Lord tasks us with spreading His word. We are here to do just that - our goal is to provide free and easy online access to the Bible for all!
        </p>
        <p class="pb-2 mb-4 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1100" data-appear-animation-duration="750" style="animation-delay: 1100ms; text-align: left;">
          <span><strong>We offer:</strong></span><br>
          Free access to various versions of the Holy Bible, educational and entertaining videos discussing topics related to the Holy Bible, Bible Studies, community discussion boards <em>(requires you to sign up for a free account)</em>, highlight & save your favorite verses <em>(requires you to sign up for a free account)</em>, personal daily devotionals emailed to you <em>(requires you to sign up for a free account)</em> and much more!
        </p>
      </div>
      <div class="col-md-6 position-relative py-5">
        <div class="appear-animation animated fadeIn appear-animation-visible" data-appear-animation="fadeIn" data-appear-animation-delay="500" style="animation-delay: 500ms;">
          <img class=" lazyloaded" src="{{ base_url }}public/template/porto/img/landing/porto_dots2.png" data-src="{{ base_url }}public/template/porto/img/landing/porto_dots2.png" alt="" width="149" height="142" style="position: absolute; top: -60px; right: -8%;">
        </div>
        <div class="appear-animation animated fadeInLeftShorter appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="0" data-appear-animation-duration="750" style="animation-delay: 0ms;">
          <div class="strong-shadow rounded strong-shadow-top-right">
            <img src="{{ base_url }}public/media/img/easter-bible-verses-1676924835.jpg" data-src="{{ base_url }}public/media/img/easter-bible-verses-1676924835.jpg" class="img-fluid border border-width-10 border-color-light rounded box-shadow-3 lazyloaded" alt="Faith Project">
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<section id="cta" class="cta">
  <div class="container" data-aos="zoom-in">

    <div class="text-center">
      <h3>Create a free account</h3>
      <p>Access to the online Bible and videos are available to everyone, with or without an account, but some features of the website (such as joining the discussion community) requires you to create a free account.</p>
      <a class="btn btn-warning" href="{{ base_url }}community/ucp.php?mode=register">Sign Up Now</a>
    </div>

  </div>
</section>

{# <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<div class="elfsight-app-bd5bf531-d0a1-42e6-914a-20e2df07fd4e" data-elfsight-app-lazy></div> #}
{# <div class="container">
<div class="row">
    <div class="col-lg-3 position-relative">
        <div class="pin-wrapper"><aside class="sidebar" id="sidebar" data-plugin-sticky="" data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">
            <div>
                <img class="img-fluid" style="height: 60px" src="{{ base_url }}public/media/img/icons/thefish.png">
                <p class="mt-3 mb-5">
                <button class="btn btn-primary" onclick="playFishAudio()" type="button">Play</button>
                <button class="btn btn-secondary" onclick="pauseFishAudio()" type="button">Pause</button>
                </p>
            </div>
            <div>
                <img class="img-fluid" style="height: 60px" src="{{ base_url }}public/media/img/icons/theword.png">
                <p class="mt-3 mb-5">
                <button class="btn btn-primary" onclick="playWordAudio()" type="button">Play</button>
                <button class="btn btn-secondary" onclick="pauseWordAudio()" type="button">Pause</button>
                </p>
            </div>
            <div>
                <img class="img-fluid" style="height: 60px" src="{{ base_url }}public/media/img/icons/faithtalk.png">
                <p class="mt-3 mb-5">
                <button class="btn btn-primary" onclick="playFaithAudio()" type="button">Play</button>
                <button class="btn btn-secondary" onclick="pauseFaithAudio()" type="button">Pause</button>
                </p>
            </div>

        </aside></div>
    </div>
    <div class="col-lg-9">

        <h2 class="font-weight-normal text-7 mb-2">Now Playing <strong class="font-weight-extra-bold">Live Radio</strong></h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula.</p>

        <img class="float-start img-fluid" width="300" height="211" src="img/device.png" alt="Device">

    </div>
</div>
</div> #}

{% endblock %}