{% extends 'porto.html.twig' %}

{% block title %}Viewing {{ category }} videos{% endblock %}
{% block meta_description %}
<meta name="description" content="View our animated web series on popular Biblical topics. Currently viewing: {{ category }}" />
{% endblock %}
{% block keywords %}
<meta name="keywords" content="Animated videos, videos about the Bible, Bible web series, {{ category }}" />
{% endblock %}

{% block content %}
<div class="container mb-5">
    <div class="row">
        <div class="col-lg-3 position-relative">
            <div class="pin-wrapper" style="height: 241.391px;">
                <aside class="sidebar" id="sidebar" data-plugin-sticky="" data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}" style="width: 261px;">
                    <h4 class="pt-2">{{ category }}</h4>
                    <p>
                        {% for k,v in thumbs %}
                        {% if category == k %}
                        <img class="card-img-top" src="{{ base_url }}{{ video_thumbnail_url }}{{ v }}">
                        {% endif %}
                        {%  endfor %}
                    </p>
                    <span class="col-md-6 justify-content-start"><small>{{ num_videos }} videos</small></span> 
                    <div class="col-md-6 btn-group dropdown float-end">
                        <button type="button" class="btn btn-sm rounded-pill btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-upload"></i> &nbsp;Share
                        </button>
                        <ul class="dropdown-menu" style="">
                            <li>
                                <a class="dropdown-item" href="javascript:void(0);">
                                    <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                                <a class="a2a_button_facebook"></a>
                                <a class="a2a_button_x"></a>
                                <a class="a2a_button_whatsapp"></a>
                                <a class="a2a_button_snapchat"></a>
                                <a class="a2a_button_tumblr"></a>
                                </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <p class="lead mt-4">
                        {# Book Collections is redirected to its own page, so it is excluded here #}
                        {% if category == 'Biblical Themes' %}
                        Discover big ideas core to the biblical story from their first appearance through the entire narrative of the Bible.
                        {% elseif category == 'Character of God' %}
                        Learn about the foundational description of God's attributes found in the book of Exodus.
                        {% elseif category == 'Creation' %}
                        In the creation narrative of Genesis 1, the biblical authors lay the foundation for the entire biblical story. Understanding God’s purpose for creation and humanity’s role brings the Bible’s message into light. Learn more with our Creation series.
                        {% elseif category == 'Intro to The Bible' %}
                        The Bible is the most influential book in human history, but what is it?...This video series will help you understand the Bible and see its unified message.
                        {% elseif category == 'New Testament Overviews' %}
                        What is the New Testament about in the Bible? Watch as we explain its major themes and gain a deeper understanding of its place in the biblical story.
                        {% elseif category == 'Old Testament Overviews' %}
                        What is the Old Testament about in the Bible? Watch as we explain its major themes and gain a deeper understanding of its place in the biblical story.
                        {% elseif category == 'Spiritual Beings' %}
                        See how the inhabitants of the heavenly realm play a key part in the biblical story with our Spiritual Beings series.
                        {% elseif category == 'Visual Commentaries' %}
                        This series looks at small sections of the Bible, paying careful attention to the literary style and design of a specific passage or verse.
                        {% endif %}
                    </p>
                </aside>
            </div>
        </div>
        <div class="col-lg-9 align-items-center">
            {% for vid in videos %}
            <div class="row mb-3 card border-radius-0 border-0 box-shadow-1">
                <div class="align-content-center">
                    <img class="float-start" style="height: 120px; margin: 20px;" src="{{ base_url }}{{ video_thumbnail_url }}{{ vid.thumbnail }}" alt="{{ vid.title_raw }}">
                    <h5 class="mt-3">{{ vid.title_raw }}</h5>
                    {{ vid.intro }}                
                    <a class="btn btn-primary btn-with-arrow mb-2 float-end" href="{{ base_url }}videos/watch/{{ vid.title|replace({' ': '-'}) }}">
                    Watch Now <span><i class="fas fa-chevron-right"></i></span>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}