{% extends 'porto.html.twig' %}
{% block title %}Video Categories{% endblock %}

{% block meta_description %}
<meta name="description" content="Videos of The Bible Series. View our animated videos on popular Biblical topics. Current collections include: Luke-Acts Series, Mark and Torah Series" />
{% endblock %}

{% block keywords %}
<meta name="keywords" content="Animated videos, videos about the Bible, Bible web series" />
{% endblock %}

{% block content %}
<div class="row py-5">
    <div class="col-lg-10 text-center offset-lg-1">
        <h2 class="font-weight-bold text-9 mb-0">Videos of The Bible</h2>
        <p class="sub-title text-primary text-4 font-weight-semibold positive-ls-2 mt-2 mb-4">BOOK COLLECTION <span class="highlighted-word highlighted-word-animation-1 highlighted-word-animation-1-2 highlighted-word-animation-1 highlighted-word-animation-1-no-rotate alternative-font-4 font-weight-semibold line-height-2 pb-2">VIDEO SERIES</span></p>
        <p class="text-1rem text-color-default negative-ls-05 pt-3 container">Explore larger sections of the Bible such as the Torah, the Wisdom Books, and Luke-Acts.</p>
    </div>
</div>

<section>
    <div class="card mb-4">
        <div class="card-body" id="collections">
            <div class="container mb-3">
                <div>
                    <div class="row">

                        {% for collection in collections %}
                            <div class="col-md-3 col-lg-4">
                                <a href="{{ base_url }}videos/collections/{{ collection.url }}">
                                <div style="height: 40vh; background-image: url('{{ base_url }}{{ video_thumbnail_url }}{{ collection.catthumbnail }}'); background-repeat: no-repeat; background-size: cover; padding: 10px;">
                                    {# <div>
                                        <img class="card-img-top" src="{{ base_url }}{{ video_thumbnail_url }}{{ collection.catthumbnail }}" style="height: 50vh">
                                    </div> #}
                                </div>
                                </a>
                                <div class="row mt-2 mb-4">
                                    <span class="col-md-6 justify-content-start"><small>Videos of The Bible</small></span> 
                                    <div class="col-md-6 btn-group dropup justify-content-end">
                                      <button type="button" class="btn btn-sm rounded-pill btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-upload"></i> &nbsp;Share
                                      </button>
                                      <ul class="dropdown-menu" style="">
                                        <li>
                                            <a class="dropdown-item" href="javascript:void(0);">
                                                <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                                                    <a class="a2a_button_facebook"></a>
                                                    <a class="a2a_button_x"></a>
                                                    <a class="a2a_button_whatsapp"></a>
                                                    <a class="a2a_button_snapchat"></a>
                                                    <a class="a2a_button_tumblr"></a>
                                                </div>
                                            </a>
                                        </li>
                                      </ul>
                                    </div>
                                </div>
                                <h2>{{ collection.subcategory }}</h2>
                                <div>
                                    <p>
                                        {{ collection.description }}
                                    </p>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}