{% extends 'porto.html.twig' %}
{% block title %}Now watching: {{ videoRawTitle }}{% endblock %}

{% block meta_description %}
<meta name="description" content="Now watching {{ videoRawTitle }}{% if episode != 0 %}, ep. {{ episode }}{% endif %}" />
{% endblock %}

{% block keywords %}
<meta name="keywords" content="{{ videoRawTitle }}" />
{% endblock %}

{% block page_intro %}
{{ videoRawTitle }}
{% endblock %}

{% block page_action %}
Videos
{% endblock %}

{% block page_param %}
Watch
{% endblock %}

{% block content %}

<div class="container mt-3 mb-4">
    <div class="col align-self-center p-static">
        <ul class="breadcrumb d-block">
            <li><a href="{{ base_url }}videos">Watch</a></li>
            <li><a href="{{ base_url }}videos/category/{{ video_category['category']|replace({' ': '-'}) }}">{{ video_category['category'] }}</a></li>
            {% if video_subcategory['subcategory']|default %}    
                <li><a href="{{ base_url }}videos/collections/{{ video_subcategory['subcategory']|replace({' ': '_'}) }}">{{ video_subcategory['subcategory'] }}</a></li>
            {% endif %}
            <li><a style="color: #cc6000;">{{ videoRawTitle }}</a></li>
        </ul>
    </div>
</div>

<section>
    <div class="container video mb-4">
        <div class="card-body">
            <div class="card-subtitle text-muted mb-3">      
                <video id="nowPlaying" width="100%" 
                    controls 
                    controlslist="nodownload" 
                    poster="{{ base_url }}{{ video_thumbnail_url }}{{ thumbnail }}">
                    <source src="{{ base_url }}{{ video_url }}{{ video }}.mp4" type="video/mp4">
                    <source src="{{ base_url }}{{ video_url }}{{ video }}.ogg" type="video/ogg">
                    Your browser does not support HTML5 video.
                </video>
                {# <a id="pbut" class="position-absolute top-50pct left-50pct transform3dxy-n50 bg-light rounded-circle d-flex align-items-center justify-content-center text-decoration-none bg-color-hover-primary text-color-hover-light play-button-lg pulseAnim pulseAnimAnimated" data-trigger-play-video="#nowPlaying" data-trigger-play-video-remove="yes">
                    <i class="fas fa-play text-5"></i>
                </a> #}
                <div class="row">
                    <div class="col-lg-10">
                        <a onclick="playVid()" class="btn btn-sm btn-primary btn-rounded btn-with-arrow-solid mb-2" style="margin-right: 20px;">Play <span><i class="fas fa-play"></i></span></a> 
                        <a onclick="pauseVid()" class="btn btn-sm btn-secondary btn-rounded btn-with-arrow-solid mb-2">Pause <span><i class="fas fa-pause"></i></span></a>
                    </div>
                    <div class="col-lg-2 align-content-center justify-content-end">
                        <button type="button" class="btn btn-sm rounded-pill btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="float: inline-end;">
                        <i class="fa fa-upload"></i> &nbsp;Share
                        </button>
                        <ul class="dropdown-menu" style="">
                            <li>
                                <a class="dropdown-item" href="javascript:void(0);">
                                    <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                                <a class="a2a_button_facebook"></a>
                                <a class="a2a_button_x"></a>
                                <a class="a2a_button_whatsapp"></a>
                                <a class="a2a_button_snapchat"></a>
                                <a class="a2a_button_tumblr"></a>
                                </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <script>
                    var videoPlayerObj = document.getElementById("nowPlaying"); 
                    function playVid() { 
                      videoPlayerObj.play(); 
                      $("#pbut").hide();
                    } 
                    function pauseVid() { 
                      videoPlayerObj.pause(); 
                    }
                </script>

            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="card-title">
                        {{ videoRawTitle }}{% if episode != 0 %}, ep. {{ episode }}{% endif %}
                    </h4>
                    <p>{{ intro.0 }}</p>
                    <p class="text-muted">{{ video_category['category'] }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
    <div class="card videoDescription">
        <div class="card-body">
            <div class="row">
                {% if ep_count >= 1 %}
                <h6>Other episodes in series</h6>
                {% for ep in all_episodes %}
                <div class="col-md-3 mb-3" style="cursor: pointer;" data-bs-toggle="offcanvas" data-bs-target="#{{ ep.title|replace({' ': '-'})|replace({'?': ''}) }}" aria-controls="{{ ep.title|replace({' ': '-'})|replace({'?': ''}) }}">
                    <div {% if ep.title|replace({' ': '-'})|replace({'?': ''}) == video %}style="position: relative; text-align: center; color: white; font-weight: bold; opacity: 0.7;"{% endif %}>
                    <img class="card-img-top img-responsive" style="border: 1px solid goldenrod;" src="{{ base_url }}{{ video_thumbnail_url }}{{ ep.thumbnail }}" alt="{{ ep.title_raw }}">
                    {% if ep.title|replace({' ': '-'})|replace({'?': ''}) == video %}
                    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);">
                        <span style="background-color: #333; padding: 4px;">NOW PLAYING</span>
                    </div>
                    {% endif %}
                    <div class="catVidTitle text-center" style="background-color: goldenrod;padding: 10px; font-size: 0.8em;"><strong>{{ ep.title_raw }}</strong>
                    </div>
                </div>
            </div>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="{{ ep.title|replace({' ': '-'})|replace({'?': ''}) }}" aria-labelledby="{{ ep.title|replace({' ': '-'})|replace({'?': ''}) }}Label" style="visibility: visible;" aria-modal="true" role="dialog">
                <div class="offcanvas-header">
                    <h5 id="{{ ep.title|replace({' ': '-'})|replace({'?': ''}) }}Label" class="offcanvas-title">{{ ep.title_raw }}</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body my-auto mx-0 flex-grow-0">
                    <p class="text-center">
                        {{ ep.intro }}
                    <p><small>{{ ep.subcategory }} - {{ ep_count }} episodes</small></p>
                    </p>
                    <a href="{{ base_url }}videos/watch/{{ ep.title|replace({' ': '-'})|replace({'?': ''}) }}" class="btn btn-primary mb-2 d-grid w-100" style="color: white;">Watch Episode</a>
                    <button type="button" class="btn btn-primary mb-2 d-grid w-100" data-bs-dismiss="offcanvas">Close</button>
                </div>
            </div>
            {% endfor %}
            {% endif %}

            {% if related_videos_count >= 1 %}
            <h6>Related videos</h6>
            {% for ep in related_videos %}
            <div class="col-md-3 mb-3" style="cursor: pointer;" data-bs-toggle="offcanvas" data-bs-target="#{{ ep.title|replace({' ': '-'})|replace({'?': ''}) }}" aria-controls="{{ ep.title|replace({' ': '-'})|replace({'?': ''}) }}">
                <div {% if ep.title|replace({' ': '-'})|replace({'?': ''}) == video %}style="position: relative; text-align: center; color: white; font-weight: bold; opacity: 0.7;"{% endif %}>
                <img class="card-img-top img-responsive" style="border: 1px solid goldenrod;" src="{{ base_url }}{{ video_thumbnail_url }}{{ ep.thumbnail }}" alt="{{ ep.title_raw }}">
                {% if ep.title|replace({' ': '-'})|replace({'?': ''}) == video %}
                <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);">
                    <span style="background-color: #333; padding: 4px;">NOW PLAYING</span>
                </div>
                {% endif %}
                <div class="catVidTitle text-center" style="background-color: goldenrod;padding: 10px; font-size: 0.8em;"><strong>{{ ep.title_raw }}</strong>
                </div>
            </div>
        </div>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="{{ ep.title|replace({' ': '-'})|replace({'?': ''}) }}" aria-labelledby="{{ ep.title|replace({' ': '-'})|replace({'?': ''}) }}Label" style="visibility: visible;" aria-modal="true" role="dialog">
            <div class="offcanvas-header">
                <h5 id="{{ ep.title|replace({' ': '-'})|replace({'?': ''}) }}Label" class="offcanvas-title">{{ ep.title_raw }}</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body my-auto mx-0 flex-grow-0">
                <p class="text-center">
                    {{ ep.intro }}
                <p><small>{{ ep.category }} - {{ related_videos_count }} related videos</small></p>
                </p>
                <a href="{{ base_url }}videos/watch/{{ ep.title|replace({' ': '-'})|replace({'?': ''}) }}" class="btn btn-primary mb-2 d-grid w-100" style="color: white;">Watch Video</a>
                <button type="button" class="btn btn-primary mb-2 d-grid w-100" data-bs-dismiss="offcanvas">Close</button>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    </div>
    </div>
    </div>
</section>

{% endblock %}