<!DOCTYPE html>
<html lang="en">

<head>
        {% block head %}
            <meta charset="utf-8">
            <meta content="width=device-width, initial-scale=1.0" name="viewport">
            <title>{% block title %}{% endblock %} - Online Bible</title>
            <meta content="" name="description">
            <meta content="" name="keywords">

            <link rel="canonical" href="{{ base_url }}">
            
            <!-- Favicons -->
            <link href="{{ base_url }}public/template/default/assets/img/favicon.png" rel="icon">
            <link href="{{ base_url }}public/template/default/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

            <!-- Google Fonts -->
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

            <!-- Vendor CSS Files -->
            <link href="{{ base_url }}public/template/default/assets/vendor/aos/aos.css" rel="stylesheet">
            <link href="{{ base_url }}public/template/default/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
            <link href="{{ base_url }}public/template/default/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
            <link href="{{ base_url }}public/template/default/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
            <link href="{{ base_url }}public/template/default/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
            <link href="{{ base_url }}public/template/default/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
            <link href="{{ base_url }}public/template/default/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
            <link href="{{ base_url }}public/template/default/assets/vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet">
            <link href="{{ base_url }}public/template/default/assets/vendor/fontawesome/css/solid.min.css" rel="stylesheet">
            <link href="{{ base_url }}public/template/default/assets/vendor/fontawesome/css/regular.min.css" rel="stylesheet">
            <link href="{{ base_url }}public/template/default/assets/vendor/fontawesome/css/brands.min.css" rel="stylesheet">
            {# <link href="{{ base_url }}public/template/default/assets/vendor/fontawesome/all.min.css" rel="stylesheet"> #}

            <!-- Template Main CSS File -->
            <link rel="stylesheet" href="{{ base_url }}public/template/default/assets/css/style.css"/>
            <link rel="stylesheet" href="{{ base_url }}public/template/default/assets/css/custom.css"/>

            <script src="{{ base_url }}public/template/default/assets/js/jquery-3.7.1.js"></script>

        {% endblock %}
    </head>
    <body>
        {% if lang == 'french' %}
            {{ include('visitorheader-french.html.twig') }}
        {% elseif lang == 'german' %}
            {{ include('visitorheader-german.html.twig') }}
        {% elseif lang == 'spanish' %}
            {{ include('visitorheader-spanish.html.twig') }}
        {% else %}
            {{ include('visitorheader.html.twig') }}
        {% endif %}

        <!-- Hero sections -->
        {% if current_page == 'home' %}
            {{ include('heroes/landingpage.html.twig') }}
        {% endif %}
        {# {% if current_page == 'bible' and route_action != 'asv' and route_action != 'kjv' %}
            {{ include('heroes/bibles.html.twig') }}
        {% endif %} #}

        <main id="main">
            {% block content %}{% endblock %}
        </main>
        <div id="footer">
            {% block footer %}
                {{ include('footer.html.twig') }}
            {% endblock %}
        </div>
    </body>
</html>
