{# <nav class="navbar navbar-expand-xl container-xxl navbar-light bg-light mb-5 navbar-fixed align-items-center" id="layout-navbar">
    <div class="container-fluid">
        <!-- Search -->
        <form method="get" action="{{ base_url }}search/results/" id="searchbar" class="d-flex">
            <div class="input-group"  id="searchbar">
              <button type="submit" class="input-group-text"><i class="tf-icons bx bx-search"></i></button>
              <input type="text" id="navSearch" name="navSearch" value="{{ session.validation.navSearch }}" class="form-control" placeholder="Search the Bible..." >
              <input type="hidden" name="bibleVersion" value="{{ session_bible_version }}">
              <span style="margin-left: 16px;">
                {% if session.validation.errors.input.field == 'navSearch' %}
                    {% for error in session.validation.errors %}
                        {{ error.messages }}
                    {% endfor %}
                {% endif %}
              </span>
            </div>
        </form>
        <!-- /Search -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation" id="toggleSidebar">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarSupportedContent" style="">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <div class="input-group"  id="nav-books">
                      <button type="button" class="input-group-text"><i class="fa fa-bible"></i></button>
                      <select class="form-control" name="books" id="selectBook" role="navigation" required="required" title="Select or type name of book you wish to read">
                      <optgroup label="Select Book">
                        <option disabled selected value="">Search for books</option>
                            {% for book in books_of_bible %}
                                <option value="{{ book }}">{{ book }}</option>
                            {% endfor %}
                      </optgroup>
                      </select>
                      <select name="chapter" class="form-control" id="selectChapter" required="required">
                      <option disabled selected value="">Chapter</option>
                      </select>
                      <button type="submit" id="submitBtn" class="input-group-text">Go</button>
                      
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <input type="checkbox" class="checkbox" id="checkbox">
                    <label for="checkbox" class="checkbox-label">
                        <i class="fas fa-moon" title="Toggle light / dark mode"></i>
                        <i class="fas fa-sun" title="Toggle light / dark mode"></i>
                        <span class="ball" title="Toggle light / dark mode"></span>
                    </label>
                </li>
                {% if session['wog-username']|default %}
                <!-- User -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                    <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online" id="useravatar">
                        {% if avatar_type == 'gravatar' %}
                            <img src="{{ avatar }}" alt class="w-px-40 h-auto rounded-circle" />
                        {% elseif avatar_type == 'upload' %}
                            <img src="{{ base_url }}{{ avatar }}" alt class="w-px-40 h-auto rounded-circle" />
                        {% else %}
                            <img src="{{ base_url }}public/template/docs/assets/img/avatars/user.jpg" alt class="w-px-40 h-auto rounded-circle" />
                        {% endif %}
                    </div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a class="dropdown-item" href="#">
                        <div class="d-flex">
                            <div class="flex-shrink-0 me-3">
                            <div class="avatar avatar-online">
                                {% if avatar_type == 'gravatar' %}
                                    <img src="{{ avatar }}" alt class="w-px-40 h-auto rounded-circle" />
                                {% elseif avatar_type == 'upload' %}
                                    <img src="{{ base_url }}{{ avatar }}" alt class="w-px-40 h-auto rounded-circle" />
                                {% else %}
                                    <img src="{{ base_url }}public/template/docs/assets/img/avatars/user.jpg" alt class="w-px-40 h-auto rounded-circle" />
                                {% endif %}
                            </div>
                            </div>
                            <div class="flex-grow-1">
                            <span class="fw-semibold d-block">{{ session["wog-username"] }}</span>
                            <small class="text-muted">Member since: {{ reg_date }}</small><br>
                            <small class="text-muted">Last login: <time class="timeago" datetime="{{ last_visit_date }}" title="{{ last_visit_date }}">about 1 day ago</time></small>
                            </div>
                        </div>
                        </a>
                    </li>
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ base_url }}community/ucp.php?i=ucp_profile&mode=profile_info">
                        <i class="bx bx-user me-2"></i>
                        <span class="align-middle">My Profile</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ base_url }}community/ucp.php?i=ucp_notifications">
                        <span class="d-flex align-items-center align-middle">
                            <i class="flex-shrink-0 bx bx-bell me-2"></i>
                            <span class="flex-grow-1 align-middle">Notifications</span>
                            <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20 blob.red"
                                style="display: none;" id="notifcount"></span>
                        </span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ base_url }}community/ucp.php?i=pm&folder=inbox">
                        <span class="d-flex align-items-center align-middle">
                            <i class="flex-shrink-0 bx bx-envelope me-2"></i>
                            <span class="flex-grow-1 align-middle">Inbox</span>
                            <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20 blob.red"
                             style="display: none;" id="pmcount"></span>
                        </span>
                        </a>
                    </li>
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ base_url }}community/ucp.php?mode=logout&sid={{ session['wog-session-id'] }}">
                        <i class="bx bx-power-off me-2"></i>
                        <span class="align-middle">Log Out</span>
                        </a>
                    </li>
                    </ul>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="{{ base_url }}community/ucp.php?mode=login" target="_blank">
                        <button type="button" class="btn btn-sm rounded-pill btn-primary" style="margin-left: 10px;">
                            <span class="fa fa-power-off" title="Login"></span> Login
                        </button>
                    </a>
                </li>
            {% endif %}
            </ul>
             <form class="d-flex" onsubmit="return false">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
 #}
<nav
    class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
    >
    <div class="container-fluid">

    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
      <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
        <i class="bx bx-menu bx-sm"></i>
      </a>
    </div>

    {# <div id="toggleSidebar" class="layout-menu-toggle navbar-nav align-items-xl-center me-3" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
        <i class="bx bx-menu bx-sm"></i>
        </a>
    </div> #}

    <div class="navbar-nav-right d-flex align-items-center collapse navbar-collapse" id="navbar-collapse">
        <div class="navbar-nav align-items-center">

        <div class="btn-group" id="dropdown-icon-demo">
          <button type="button" class="btn btn-outline-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="true">
            <i class="fa fa-bible"></i> &nbsp; Table of Contents
          </button>
          <ul class="dropdown-menu" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 41px);" data-popper-placement="bottom-start">
            <li style="width: max-content;">
              <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">

                <div class="nav-item d-flex align-items-center">
                <div class="input-group"  id="nav-books">
                  <select style="width: 155px;" class="form-control" name="books" id="selectBook" role="navigation" required="required" title="Select or type name of book you wish to read">
                  <optgroup label="Select Book">
                    <option disabled selected value="">Search for books</option>
                        {% for book in books_of_bible %}
                            <option value="{{ book }}">{{ book }}</option>
                        {% endfor %}
                  </optgroup>
                  </select>
                  <select style="width: 65px;" name="chapter" class="form-control" id="selectChapter" required="required">
                  <option disabled selected value="">Chapter</option>
                  </select>
                  <button type="submit" id="submitBtn" class="input-group-text">Go</button>
                </div>
            </div>

              </a>
            </li>
          </ul>
        </div>

            
        </div>
        <ul class="navbar-nav flex-row align-items-center ms-auto" id="#navbarSupportedContent">
        {# <li class="nav-item lh-1 me-3">
            <div class="input-group"  id="nav-books">
              <button type="button" class="input-group-text"><i class="fa fa-bible"></i></button>
              <select class="form-control" name="books" id="selectBook" role="navigation" required="required" title="Select or type name of book you wish to read">
              <optgroup label="Select Book">
                <option disabled selected value="">Search for books</option>
                    {% for book in books_of_bible %}
                        <option value="{{ book }}">{{ book }}</option>
                    {% endfor %}
              </optgroup>
              </select>
              <select name="chapter" class="form-control" id="selectChapter" required="required">
              <option disabled selected value="">Chapter</option>
              </select>
              <button type="submit" id="submitBtn" class="input-group-text">Go</button>
            </div>
        </li> #}

        {# <li class="nav-item dropdown-style-switcher dropdown me-2 me-xl-0">
            <input type="checkbox" class="checkbox" id="checkbox">
            <label for="checkbox" class="checkbox-label">
                <i class="fas fa-moon" title="Toggle light / dark mode"></i>
                <i class="fas fa-sun" title="Toggle light / dark mode"></i>
                <span class="ball" title="Toggle light / dark mode"></span>
            </label>
        </li> #}

        {% if session['wog-username']|default %}
        <!-- User -->
        <li class="nav-item navbar-dropdown dropdown-user dropdown">
            <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
            <div class="avatar avatar-online" id="useravatar">
                {% if avatar_type == 'gravatar' %}
                    <img src="{{ avatar }}" alt class="w-px-40 h-auto rounded-circle" />
                {% elseif avatar_type == 'upload' %}
                    <img src="{{ base_url }}{{ avatar }}" alt class="w-px-40 h-auto rounded-circle" />
                {% else %}
                    <img src="{{ base_url }}public/template/docs/assets/img/avatars/user.jpg" alt class="w-px-40 h-auto rounded-circle" />
                {% endif %}
            </div>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
            <li>
                <a class="dropdown-item" href="#">
                <div class="d-flex">
                    <div class="flex-shrink-0 me-3">
                    <div class="avatar avatar-online">
                        {% if avatar_type == 'gravatar' %}
                            <img src="{{ avatar }}" alt class="w-px-40 h-auto rounded-circle" />
                        {% elseif avatar_type == 'upload' %}
                            <img src="{{ base_url }}{{ avatar }}" alt class="w-px-40 h-auto rounded-circle" />
                        {% else %}
                            <img src="{{ base_url }}public/template/docs/assets/img/avatars/user.jpg" alt class="w-px-40 h-auto rounded-circle" />
                        {% endif %}
                    </div>
                    </div>
                    <div class="flex-grow-1">
                    <span class="fw-semibold d-block">{{ session["wog-username"] }}</span>
                    <small class="text-muted">Member since: {{ reg_date }}</small><br>
                    <small class="text-muted">Last login: <time class="timeago" datetime="{{ last_visit_date }}" title="{{ last_visit_date }}">about 1 day ago</time></small>
                    </div>
                </div>
                </a>
            </li>
            <li>
                <div class="dropdown-divider"></div>
            </li>
            <li>
                <a class="dropdown-item" href="{{ base_url }}community/ucp.php?i=ucp_profile&mode=profile_info">
                <i class="bx bx-user me-2"></i>
                <span class="align-middle">My Profile</span>
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="{{ base_url }}community/ucp.php?i=ucp_notifications">
                <span class="d-flex align-items-center align-middle">
                    <i class="flex-shrink-0 bx bx-bell me-2"></i>
                    <span class="flex-grow-1 align-middle">Notifications</span>
                    <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20 blob.red"
                        style="display: none;" id="notifcount"></span>
                </span>
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="{{ base_url }}community/ucp.php?i=pm&folder=inbox">
                <span class="d-flex align-items-center align-middle">
                    <i class="flex-shrink-0 bx bx-envelope me-2"></i>
                    <span class="flex-grow-1 align-middle">Inbox</span>
                    <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20 blob.red"
                     style="display: none;" id="pmcount"></span>
                </span>
                </a>
            </li>
            <li>
                <div class="dropdown-divider"></div>
            </li>
            <li>
                <a class="dropdown-item" href="{{ base_url }}community/ucp.php?mode=logout&sid={{ session['wog-session-id'] }}">
                <i class="bx bx-power-off me-2"></i>
                <span class="align-middle">Log Out</span>
                </a>
            </li>
            </ul>
        </li>
    {% else %}
        <li class="nav-item">
            <a href="{{ base_url }}community/ucp.php?mode=login" target="_blank">
                <button type="button" class="btn btn-sm rounded-pill btn-primary" style="margin-left: 10px;">
                    <span class="fa fa-power-off" title="Login"></span> Login
                </button>
            </a>
        </li>
    {% endif %}
        <!--/ User -->
        </ul>
    </div>
    </div>
    </nav>

<div
class="bs-toast toast toast-placement-ex m-2 fade bg-warning top-0 end-0"
role="alert"
aria-live="assertive"
aria-atomic="true" 
data-bs-autohide="false" 
id="toast-pm" 
>
    <div class="toast-header">
      <i class="bx bx-bell me-2"></i>
      <div class="me-auto fw-semibold">Unread Private Message</div>
      <small><time class="timeago" datetime="{{ last_pm_time }}" title="{{ last_pm_time }}" id="pmtime">{{ last_pm_time }}</time></small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Hi {{ session['wog-username'] }}, you have unread private messages from someone in the community. To view them, simply click on your avatar, and then the Inbox link in the menu. <i class="fa-solid fa-hands-praying"></i>
    </div>
</div>

    <div
    class="bs-toast toast toast-placement-ex m-2 fade bg-warning top-0 end-0"
    role="alert"
    aria-live="assertive"
    aria-atomic="true" 
    data-bs-autohide="false" 
    id="toast-notif" 
    >
    <div class="toast-header">
      <i class="bx bx-bell me-2"></i>
      <div class="me-auto fw-semibold">Unread Notifications</div>
      <small><time class="timeago" datetime="{{ last_notif_time }}" title="{{ last_notif_time }}" id="notiftime">{{ last_notif_time }}</time></small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Hi {{ session['wog-username'] }}, you have unread notifications from the community. To view them, simply click 
      on your avatar, and then the Notifications link in the menu. <i class="fa-solid fa-hands-praying"></i>
    </div>
</div>

<script>
$(document).ready(function () {
    $("#selectChapter").hide();
    $("#submitBtn").prop("disabled", true);

  $("#selectBook").change(function (event) {
    // $('#selectBook').width(140);
    // $("#selectChapter").width(35);
    $("#selectChapter").show();

    {% for key, chap in bookMap %}
        var chapter = $('#selectBook').find(":selected").text();
        if(chapter == "{{ key }}")
        {
            $('#selectChapter').empty();

            {% for c in chap %}
                $('#selectChapter').append( "{{ c|raw }}" );
            {% endfor %}

            $('#submitBtn').addClass('btn-success');
            $("#submitBtn").prop("disabled", false);
        }
  {% endfor %}

    let selbook = $("#selectBook").val();

    $("#submitBtn").click( function(){
        window.location.replace( 
            "{{ base_url }}" + 
            'bible/' + 
            "{{ version }}" + 
            '/' + 
            selbook.replaceAll(' ', '-') + 
            '/' +  
            $('#selectChapter').find(":selected").val()
        )
    });
  });
});
</script>