<!DOCTYPE html>

<!-- beautify ignore:start -->
<html lang="en" class="light-style layout-navbar-fixed layout-menu-fixed layout-compact " dir="ltr" data-theme="theme-default" 
data-assets-path="../../assets/" data-template="vertical-menu-template"></html>
<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="{{ base_url }}public/template/docs/assets/"
  data-template="vertical-menu-template-free"
>
    <head>
    {% block head %}
    <meta charset="utf-8" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>{% block title %}{% endblock %} | Word of God Online Bible</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ base_url }}public/template/docs/assets/img/favicon/favicon.ico" />
    
    <link rel="canonical" href="{{ base_url }}">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="{{ base_url }}public/template/docs/assets/vendor/fonts/boxicons.css" />
    <link rel="stylesheet" href="{{ base_url }}public/template/docs/assets/vendor/fonts/fontawesome.css" />
    <!--<script src="https://kit.fontawesome.com/e3c82f8328.js" crossorigin="anonymous"></script>-->
    <!-- Core CSS -->
    <link rel="stylesheet" href="{{ base_url }}public/template/docs/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{{ base_url }}public/template/docs/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{{ base_url }}public/template/docs/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{{ base_url }}public/template/docs/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="{{ base_url }}public/template/docs/assets/vendor/libs/apex-charts/apex-charts.css" />

    <!-- Page CSS -->
    <link rel="stylesheet" href="{{ base_url }}public/template/docs/assets/css/custom.css"/>
    {% if current_page == 'videos' and current_action == 'watch' %}
        <link rel="stylesheet" href="{{ base_url }}public/template/docs/assets/css/video.css"/>
    {% endif %}

    <!-- Helpers -->
    <script src="{{ base_url }}public/template/docs/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="{{ base_url }}public/template/docs/assets/vendor/js/helpers.js"></script>
    <script src="{{ base_url }}public/template/docs/js/mixitup.min.js"></script>
    
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    
    <script src="{{ base_url }}public/template/docs/assets/js/config.js"></script>
    <!-- <script src="{{ base_url }}public/template/docs/js/vue.js"></script> -->
    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=66670038c861e90019a227cb&product=video-share-buttons&source=platform" async="async"></script>
    
    {% endblock %}
    </head>

    <body>
        <!-- Layout wrapper -->
        <div class="layout-wrapper layout-content-navbar">
            <div class="layout-container">
                {{ include('docs-sidenav.html.twig') }}
                    <!-- Layout container -->
                    <div class="layout-page">
                        {{ include('docs-topnav.html.twig') }}
                            <!-- Content wrapper -->
                            <div class="content-wrapper">
                                <!-- Content -->
                                <div class="container-xxl flex-grow-1 container-p-y">
                                    {% block content %}{% endblock %}
                                </div>
                            </div>

                            {% block footer %}
                                {{ include('docs-footer.html.twig') }}
                            {% endblock %}

                            <div class="content-backdrop fade"></div>
                    </div>
                    <!-- Content wrapper -->
                </div>
                <!-- / Layout page -->
            </div>
              
            <!-- Overlay -->
            <div class="layout-overlay layout-menu-toggle"></div>
        </div>
        <!-- / Layout wrapper -->
    </body>
</html>
