<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo mb-2">
        <a href="{{ base_url }}" class="app-brand-link">
        <span class="app-brand-logo demo">
        <img style="width: 32px" src="{{ base_url }}public/media/img/cross.png">
        </span>
        <span class="logo-text demo menu-text fw-bolder ms-2">Word of God</span>
        </a>
        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
        <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>
    <div class="menu-inner-shadow"></div>
    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-header small text-uppercase mt-4 mb-2">
        <div>Search</div>
        </li>
        <li class="">
        <script async src="https://cse.google.com/cse.js?cx=70c6a34b24d2e4914">
        </script>
        <div class="gcse-searchbox-only"></div>
            <!-- Search -->
        {# <form method="get" action="{{ base_url }}search/results/" id="searchbar" class="d-flex">
            <div class="input-group"  id="searchbar">
              <button type="submit" class="input-group-text"><i class="tf-icons bx bx-search"></i></button>
              <input type="text" id="navSearch" name="navSearch" value="{{ session.validation.navSearch }}" class="form-control" placeholder="Search the Bible..." >
              <input type="hidden" name="bibleVersion" value="{{ session_bible_version }}">
              <span style="margin-left: 16px;">
                {% if session.validation.errors.input.field == 'navSearch' %}
                    {% for error in session.validation.errors %}
                        {{ error.messages }}
                    {% endfor %}
                {% endif %}
              </span>
            </div>
        </form> #}
        <!-- /Search -->
        </li>

        <li class="menu-header small text-uppercase" id="vmenulink">
            <i class="menu-icon tf-icons bx bx-video"></i> <span>Videos</span>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <div data-i18n="Video Categories">Explore</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item" style="list-style: none;">
                    <a href="{{ base_url }}videos/" class="menu-link">
                        <div data-i18n="All Videos">All Videos</div>
                    </a>
                </li>
                {% for cat in video_categories %}
                <li class="menu-item" style="list-style: none;">
                    <a href="{{ base_url }}videos/category/{{ cat|replace({" ": "-"}) }}/" class="menu-link">
                    <div data-i18n="{{ cat }}">{{ cat }}</div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </li>
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text"><i class="menu-icon tf-icons bx bx-pencil"></i> Bible Study</span>
        </li>
        <li class="menu-item" id="qmenulink">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <div data-i18n="">Quizzes</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item" style="list-style: none;">
                    <a href="{{ base_url }}study/quiz/ot/" class="menu-link">
                        <div data-i18n="Take a Quiz">Old Testament</div>
                    </a>
                </li>
                <li class="menu-item" style="list-style: none;">
                    <a href="{{ base_url }}study/quiz/nt/" class="menu-link">
                        <div data-i18n="Take a Quiz">New Testament</div>
                    </a>
                </li>
                <li class="menu-item" style="list-style: none;">
                    <a href="{{ base_url }}study/quiz/general/" class="menu-link">
                        <div data-i18n="Take a Quiz">General</div>
                    </a>
                </li>
            </ul>
        </li>

        <li class="menu-header small text-uppercase">
            <span class="menu-header-text"><i class="menu-icon tf-icons bx bx-bible"></i> Intro to Bible</span>
        </li>
            {# <a href="javascript:void(0);" class="menu-link menu-toggle">
                <div data-i18n="Summary of Books in Bible">Book Collection</div>
            </a> #}
        <li class="menu-item" style="list-style: none;">
            <a href="{{ base_url }}bible/intro/the-pentateuch/" class="menu-link">
            <div data-i18n="THE PENTATEUCH">THE PENTATEUCH (Torah)</div>
            </a>
        </li>
        <li class="menu-item" style="list-style: none;">
            <a href="{{ base_url }}bible/intro/the-historical-books/" class="menu-link">
            <div data-i18n="THE HISTORICAL BOOKS">THE HISTORICAL BOOKS</div>
            </a>
        </li>
        <li class="menu-item" style="list-style: none;">
            <a href="{{ base_url }}bible/intro/the-wisdom-and-poetry-books/" class="menu-link">
            <div data-i18n="THE WISDOM AND POETRY BOOKS">THE WISDOM AND POETRY BOOKS</div>
            </a>
        </li>
        <li class="menu-item" style="list-style: none;">
            <a href="{{ base_url }}bible/intro/the-major-prophets/" class="menu-link">
            <div data-i18n="THE MAJOR PROPHETS">THE MAJOR PROPHETS</div>
            </a>
        </li>
        <li class="menu-item" style="list-style: none;">
            <a href="{{ base_url }}bible/intro/the-minor-prophets/" class="menu-link">
            <div data-i18n="THE MINOR PROPHETS">THE MINOR PROPHETS</div>
            </a>
        </li>
        <li class="menu-item" style="list-style: none;">
            <a href="{{ base_url }}bible/intro/the-gospels/" class="menu-link">
            <div data-i18n="THE GOSPELS">THE GOSPELS</div>
            </a>
        </li>
        <li class="menu-item" style="list-style: none;">
            <a href="{{ base_url }}bible/intro/the-book-of-acts/" class="menu-link">
            <div data-i18n="THE BOOK OF ACTS">THE BOOK OF ACTS</div>
            </a>
        </li>
        <li class="menu-item" style="list-style: none;">
            <a href="{{ base_url }}bible/intro/the-pauline-epistles/" class="menu-link">
            <div data-i18n="THE PAULINE EPISTLES">THE PAULINE EPISTLES</div>
            </a>
        </li>
        <li class="menu-item" style="list-style: none;">
            <a href="{{ base_url }}bible/intro/the-general-epistles/" class="menu-link">
            <div data-i18n="THE GENERAL EPISTLES">THE GENERAL EPISTLES</div>
            </a>
        </li>
        <li class="menu-item" style="list-style: none;">
            <a href="{{ base_url }}bible/intro/apocalyptic/" class="menu-link">
            <div data-i18n="APOCALYPTIC">APOCALYPTIC</div>
            </a>
        </li>
    </ul>
</aside>