<!-- Footer -->
<footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
        <div class="mt-2 mb-md-0">
            ©
            <script>
                document.write(new Date().getFullYear());
            </script>, made with ❤️ by
            <a href="https://github.com/arout77/Rhapsody-Framework" target="_blank" class="footer-link fw-bolder">Andrew Rout</a>
        </div>
        <div>
            <a
                href="{{ base_url }}donate/"
                class="footer-link me-4"
                >Give</a
                >
            <div class="dropdown dropup footer-link me-3">
                <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="{{ base_url }}public/media/img/icons/usa.png" alt="" style="height: 32px; padding-right: 6px;"> Language <i class="bi bi-chevron-down"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end" style="">
                    <a class="dropdown-item" id="eng" href="?lang=english"><img src="{{ base_url }}public/media/img/icons/usa.png" alt="" style="height: 36px; padding-right: 6px;"> English</a>
                    <a class="dropdown-item" id="spa" href="?lang=spanish"><img src="{{ base_url }}public/media/img/icons/mexico.png" alt="" style="height: 20px; padding-right: 6px;"> Español</a>
                    <a class="dropdown-item" id="fre" href="?lang=french"><img src="{{ base_url }}public/media/img/icons/france.png" alt="" style="height: 22px; padding-right: 6px;"> Français</a>
                    <a class="dropdown-item" id="ger" href="?lang=german"><img src="{{ base_url }}public/media/img/icons/germany.png" alt="" style="height: 34px; padding-right: 6px;"> Deutsch</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- / Footer -->

{% if session['user-first-visit-to-site'] == 1 %}}
    {{ include('partials/mobile-user-warning.html.twig') }}
{% endif %}

<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script src="{{ base_url }}public/template/docs/assets/vendor/libs/popper/popper.js"></script>
<script src="{{ base_url }}public/template/docs/assets/vendor/js/bootstrap.js"></script>
<script src="{{ base_url }}public/template/docs/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="{{ base_url }}public/template/docs/assets/vendor/js/menu.js"></script>
<script src="{{ base_url }}public/template/docs/js/jquery.timeago.js"></script>
<script src="{{ base_url }}public/template/docs/assets/js/ui-toasts.js"></script>
<script src="{{ base_url }}public/template/docs/js/jquery.aSimpleTour.min.js"></script>
<script src="{{ base_url }}public/template/docs/js/scrollTo.js"></script>
<script async src="{{ base_url }}public/template/docs/js/social.js"></script>
<!-- endbuild -->
<!-- Vendors JS -->
<script src="{{ base_url }}public/template/docs/assets/vendor/libs/apex-charts/apexcharts.js"></script>
<!-- Main JS -->
<script src="{{ base_url }}public/template/docs/assets/js/main.js"></script>
<!-- Page JS -->
<script src="{{ base_url }}public/template/docs/assets/js/dashboards-analytics.js"></script>
<script>
$( document ).ready(function() {
    // --- Notify mobile users to view in landscape mode
    browserWidth = $(window).width();

    if(browserWidth < 480) {
        // browser width is under 900px
        var showMessage = localStorage.getItem('wog_mobileUsersWarning');
        if(showMessage != 'dismissed')
        {
            $('#newVisitor').show();

            $("#dismissMobileWarning").click(function() {
                localStorage.setItem('wog_mobileUsersWarning', 'dismissed');
            });
        }
    }

    $(".gsc-input-box").css('margin-left', '10px');
    $("#gsc-i-id1").addClass('form-control');
    $(".gsc-search-button-v2").addClass('btn btn-primary');

    // --- Show tour if first visit to site
    {% if session['user-first-visit-to-site'] == 1 %}
    var myData = [{
        // target element
        element: '#dropdown-icon-demo',

        // content displayed in the tooltip
        tooltip: 'Select a book and chapter to turn to',

        // position of the tooltip
        // T, B, L, R, TL, TR, BL, BR, LT, RT, LB, RB
        position: 'R',

        // content displayed in the control panel
        text: 'Flip through to different books / pages of the Bible here'
    }, {
        element: '#searchbar',
        tooltip: 'Search the Bible',
        position: 'R',
        text: 'Use the searchbar to look up biblical passages'
    }, {
        element: '#vmenulink',
        tooltip: 'Free videos access',
        position: 'R',
        text: 'Watch animated bible study videos, covering a large range of topics!'
    }, {
        element: '#qmenulink',
        tooltip: 'Bible Study Quizzes',
        position: 'R',
        text: 'Test your knowledge of the Bible by taking a 20 question, multiple choice quiz'
    }, {
        element: '#1',
        tooltip: 'Click on verses to highlight them',
        position: 'L', 
        text: 'Simply click on verses to highlight them; to erase your highlight just click on the verse again'
    }, {
        element: '#checkbox',
        tooltip: 'Toggle light / dark modes',
        position: 'B', 
        text: 'Toggle between light and dark mode to save strain on your eyes as you read'
    }, {
        element: '#checkbox',
        tooltip: 'Join the community!',
        position: 'R', 
        text: 'By joining our community, you\'ll gain access to a message board where you will be able to talk about many different topics with fellow Christians. Share advice, send a prayer request, private messaging and so much more!'
    }]

    $.aSimpleTour({
      data: myData,
      autoStart:true,
      useOverlay: false,
      // overlayZindex: 10,
      welcomeMessage: '<h4>Welcome!</h4> We detected that this is your first visit to our site, so we wanted to show you around. This will only take a few seconds!',
      controlsPosition:'BR',
      buttons: {
        next  : { text : 'Next', class : 'btn btn-info mt-2'},
        prev  : { text : 'Previous', class: 'btn btn-info mt-2' },
        start : { text : 'Start', class: 'btn btn-primary mt-2' },
        end   : { text : 'End', class: 'btn btn-danger mt-2' }
      },
      controlsCss: {
        background: 'rgba(0,0,0, 0.80)',
        color: '#fff', 
        width: '400px',
      },
      tooltipCss: {
        background: 'rgba(0, 0, 0, 0.70)',
        color: '#fff'
      }
    });
    {% endif %}
    // --- End tour

    // --- Start timers to get message and notification counts
    setInterval(getUnreadNotif, 9000);      // Every 9 secs
    setInterval(getUnreadPM, 10000);        // Every 10 secs
    setTimeout(showPMToast, 300000);        // Show once after 5 minutes
    setTimeout(showNotifToast, 240000);     // Show once after 4 minutes

    // --- Convert dates to 'time ago...'
    $("time.timeago").timeago();

    // --- Dark mode
    const checkbox = document.getElementById("checkbox")
    checkbox.addEventListener("change", () => {
    document.body.classList.toggle("dark")
      if(document.body.classList == "dark") {
        localStorage.setItem('mode', 'dark');
      } else {
        localStorage.setItem('mode', 'light');
      }
    });

    let mode;
    mode = localStorage.getItem('mode');

    if (mode === 'light'){
      lightMode();
    }else{
      darkMode();
    }
    
    function darkMode() {
        document.body.classList.add("dark");
        localStorage.setItem('mode', 'dark');
        mode = localStorage.getItem('mode');
    }
    
    function lightMode() {
        document.body.classList.remove("dark");
        localStorage.setItem('mode', 'light');
        mode = localStorage.getItem('mode');
    }
    // --- end dark mode

    // --- Get unread PM count
    function getUnreadPM()
    {
        $.ajax({
            type: "POST",
            url: "{{ base_url }}notifications/unread_pm_count/",
            data: {
                userid: '{{ user_id }}'
            },
            dataType: "json",
            encode: true,
        }).done(function (data) {
            if(data >= 1)
            {
                $("#pmcount").show();
                $("#pmcount").html( data );
            } else {
                $("#pmcount").hide();
            }
        });
    }
    // --- End Get unread PM count

    // --- Get unread Notifications count
    function getUnreadNotif()
    {
        $.ajax({
            type: "POST",
            url: "{{ base_url }}notifications/unread_notif_count/",
            data: {
                userid: '{{ user_id }}'
            },
            dataType: "json",
            encode: true,
        }).done(function (data) {
            if(data >= 1)
            {
                $("#notifcount").show();
                $("#notifcount").html( data );
                $("#useravatar").addClass( 'notifbubble' );
                // document.title = "(" + data + ")"+ ' ' + document.title;
            } else {
                $("#notifcount").hide();
                $("#useravatar").removeClass( 'notifbubble' );
            }
        });
    }
    // --- End Get unread Notifications count

    // --- Toasts
    function showPMToast()
    {
        $.ajax({
            type: "POST",
            url: "{{ base_url }}notifications/unread_pm_count/",
            data: {
                userid: '{{ user_id }}'
            },
            dataType: "json",
            encode: true,
        }).done(function (data) {
            if(data >= 1)
            {
               $('#toast-pm').toast('show');
            }
        });
    }

    function showNotifToast()
    {
        $.ajax({
            type: "POST",
            url: "{{ base_url }}notifications/unread_notif_count/",
            data: {
                userid: '{{ user_id }}'
            },
            dataType: "json",
            encode: true,
        }).done(function (data) {
            if(data >= 1)
            {
               $('#toast-notif').toast('show');
            }
        });
    }
    
    // --- Language and bible version 
    $("#eng").click( function(){
        document.cookie = "lang=english";
    });
    $("#spa").click( function(){
        document.cookie = "lang=spanish";
    });
    $("#fre").click( function(){
        document.cookie = "lang=french";
    });
    $("#ger").click( function(){
        document.cookie = "lang=german";
    });

    $("#asvver").click( function(){
        document.cookie = "bibleVersion=asv";
    });
    $("#kjvver").click( function(){
        document.cookie = "bibleVersion=kjv";
    });
    $("#webver").click( function(){
        document.cookie = "bibleVersion=web";
    });
    $("#reinaver").click( function(){
        document.cookie = "bibleVersion=reina";
    });
    $("#segondver").click( function(){
        document.cookie = "bibleVersion=segond";
    });
    $("#lutherver").click( function(){
        document.cookie = "bibleVersion=luther";
    });
    // --- End Language and bible version 
});
</script>