<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo mb-2">
        <a href="{{ base_url }}" class="app-brand-link">
        <span class="app-brand-logo demo">
        <img style="width: 32px" src="{{ base_url }}public/media/img/cross.png">
        </span>
        <span class="logo-text demo menu-text fw-bolder ms-2">Word of God</span>
        </a>
        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
        <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>
    <div class="menu-inner-shadow"></div>
    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="mt-4 mb-2">
            <!-- Search -->
        <form method="get" action="{{ base_url }}search/results/" id="searchbar" class="d-flex">
            <div class="input-group"  id="searchbar">
              <button type="submit" class="input-group-text"><i class="tf-icons bx bx-search"></i></button>
              <input type="text" id="navSearch" name="navSearch" value="{{ session.validation.navSearch }}" class="form-control" placeholder="Search the Bible..." >
              <input type="hidden" name="bibleVersion" value="{{ session_bible_version }}">
              <span style="margin-left: 16px;">
                {% if session.validation.errors.input.field == 'navSearch' %}
                    {% for error in session.validation.errors %}
                        {{ error.messages }}
                    {% endfor %}
                {% endif %}
              </span>
            </div>
        </form>
        <!-- /Search -->
        </li>
        <li class="menu-header small text-uppercase align-items-center">
                Toggle Dark Mode
        </li>
        <li class="d-flex align-items-center justify-content-end ml-3">
            <input type="checkbox" class="checkbox" id="checkbox">
                <label for="checkbox" class="checkbox-label">
                    <i class="fas fa-moon" title="Toggle light / dark mode"></i>
                    <i class="fas fa-sun" title="Toggle light / dark mode"></i>
                    <span class="ball" title="Toggle light / dark mode"></span>
                </label>
        </li>
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text"><i class="menu-icon tf-icons bx bx-bible"></i> Intro to Bible</span>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <div data-i18n="Summary of Books in Bible">Books</div>
            </a>
            <ul class="menu-sub">
                {% for book in books_of_bible %}
                <li class="menu-item" style="list-style: none;">
                    <a href="{{ base_url }}bible/intro/{{ book|replace({" ": "-"}) }}/" class="menu-link">
                    <div data-i18n="{{ book }}">{{ book }}</div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </li>
        <li class="menu-header small text-uppercase">
            <i class="menu-icon tf-icons bx bx-video"></i> <span class="">Videos</span>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <div data-i18n="Video Categories">Categories</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item" style="list-style: none;">
                    <a href="{{ base_url }}videos/" class="menu-link">
                        <div data-i18n="All Videos">All Videos</div>
                    </a>
                </li>
                {% for cat in video_categories %}
                <li class="menu-item" style="list-style: none;">
                    <a href="{{ base_url }}videos/category/{{ cat|replace({" ": "-"}) }}/" class="menu-link">
                    <div data-i18n="{{ cat }}">{{ cat }}</div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </li>
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text"><i class="menu-icon tf-icons bx bx-pencil"></i> Bible Study</span>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <div data-i18n="">Quizzes</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item" style="list-style: none;">
                    <a href="{{ base_url }}study/quiz/ot/" class="menu-link">
                        <div data-i18n="Take a Quiz">Old Testament</div>
                    </a>
                </li>
                <li class="menu-item" style="list-style: none;">
                    <a href="{{ base_url }}study/quiz/nt/" class="menu-link">
                        <div data-i18n="Take a Quiz">New Testament</div>
                    </a>
                </li>
                <li class="menu-item" style="list-style: none;">
                    <a href="{{ base_url }}study/quiz/general/" class="menu-link">
                        <div data-i18n="Take a Quiz">General</div>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</aside>