<!DOCTYPE html>

<html lang="en">
    <head>
    {% block head %}
    <meta charset="utf-8" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>{% block title %}Error{% endblock %}</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ base_url }}public/template/docs/assets/img/favicon/favicon.ico" />
    
    <link rel="canonical" href="{{ base_url }}">

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="{{ base_url }}public/template/docs/assets/vendor/fonts/boxicons.css" />
    <link rel="stylesheet" href="{{ base_url }}public/template/docs/assets/vendor/fonts/fontawesome.css" />

    <!-- Prism styleshhet -->
    <link rel="stylesheet" href="{{ base_url }}public/template/default/assets/css/prism.css"/>

    <!-- Page CSS -->
    <link rel="stylesheet" href="{{ base_url }}public/template/errors/css/errors.css"/>
    <link rel="stylesheet" href="{{ base_url }}public/template/docs/assets/css/custom.css"/>
    
    <!-- Prism JS -->
    <script src="{{ base_url }}public/template/default/assets/js/prism.js"></script>
    {% endblock %}
    </head>

    <body>
        {% block content %}{% endblock %}
    </body>
</html>
