<!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

      {# <h1 class="logo me-auto me-lg-0"><a href="{{ base_url }}">Online Bible<span></span></a></h1> #}
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="{{ base_url }}" class="logo me-auto me-lg-0">
      <img class="img-fluid" src="{{ base_url }}public/media/img/cross.png">
      <span class="logo-text demo menu-text fw-bolder ms-2">Word of God</span>
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          {# <li><a class="nav-link scrollto active" href="{{ base_url }}">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li> #}
          <li class="dropdown"><a href="#"><img src="{{ base_url }}public/media/img/icons/usa.png" alt="" style="height: 32px; padding-right: 6px;"> Language <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a id="eng" href="?lang=english"><img src="{{ base_url }}public/media/img/icons/usa.png" alt="" style="height: 36px; padding-right: 6px;"> English</a></li>
              <li><a id="spa" href="?lang=spanish"><img src="{{ base_url }}public/media/img/icons/mexico.png" alt="" style="height: 20px; padding-right: 6px;"> Español</a></li>
              <li><a id="fre" href="?lang=french"><img src="{{ base_url }}public/media/img/icons/france.png" alt="" style="height: 22px; padding-right: 6px;"> Français</a></li>
              <li><a id="ger" href="?lang=german"><img src="{{ base_url }}public/media/img/icons/germany.png" alt="" style="height: 34px; padding-right: 6px;"> Deutsch</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Read The Bible</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a id="asvver" href="{{ base_url }}bible/asv">American Standard Version</a></li>
              <li><a id="kjvver" href="{{ base_url }}bible/kjv">King James Version</a></li>
              <li><a id="webver" href="{{ base_url }}bible/web">World English Bible</a></li>
              <li><a id="reinaver" href="{{ base_url }}bible/reina">Reina Valera <em>1909</em> (Spanish)</a></li>
              <li><a id="segondver" href="{{ base_url }}bible/segond">Louis Segond <em>1910</em> (French)</a></li>
              <li><a id="lutherver" href="{{ base_url }}bible/luther">Luther Bible <em>1912</em> (German)</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="{{ base_url }}videos/">Videos</a></li>
          <li><a class="nav-link scrollto" target="_blank" href="{{ base_url }}community/">Community</a></li>
          <li><a class="nav-link scrollto" href="{{ base_url }}donations/">Give</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->


<script>
$(document).ready(function () {

    $("#eng").click( function(){
        document.cookie = "lang=english";
    });
    $("#spa").click( function(){
        document.cookie = "lang=spanish";
    });
    $("#fre").click( function(){
        document.cookie = "lang=french";
    });
    $("#ger").click( function(){
        document.cookie = "lang=german";
    });

    $("#asvver").click( function(){
        document.cookie = "bibleVersion=asv";
    });
    $("#kjvver").click( function(){
        document.cookie = "bibleVersion=kjv";
    });
    $("#webver").click( function(){
        document.cookie = "bibleVersion=web";
    });
    $("#reinaver").click( function(){
        document.cookie = "bibleVersion=reina";
    });
    $("#segondver").click( function(){
        document.cookie = "bibleVersion=segond";
    });
    $("#lutherver").click( function(){
        document.cookie = "bibleVersion=luther";
    });
});
</script>